---

import { Image } from "astro:assets";
import cadeira from "../../assets/cadeira-de-rodas-com-basculacao-quickie-iris.jpg";
import FormPopup from "../FormPopup.astro";
const title = "Cadeira de Rodas com Basculação Quickie Iris";

---

<section class="quote">
  <div class="container">
    <div class="row g-5 p-5">

      <div class="col-lg-6 col-sm-12" style="display:flex; align-items:center; justify-content:start;">
        <Image src={cadeira} alt={title} loading="lazy" width={600} />
      </div>

      <div class="col-lg-6 col-sm-12">
        <h1>{title}</h1>
        <p class="mt-3">O padrão superior para tecnologia de rotação no espaço. A cadeira de rodas QUICKIE® IRIS™ é a cadeira de rodas de inclinação no espaço definitiva. Com 55° de Tecnologia de Rotação Inteligente no Espaço, a mais ampla gama de opções de posicionamento e cuidados, e numerosos ajustes, é difícil acreditar que a IRIS™ também seja a cadeira de rodas de inclinação no espaço mais leve disponível hoje.</p>
          
        <ul>
          <li>Inclinação elétrica, controle de assistente, chave seletora;</li>
          <li>40° ou 55° de tecnologia de rotação inteligente no espaço;</li>
          <li>Suporte para extremidades inferiores JAY;</li>
          <li>Opção de sistema de encosto MONO®.</li>
        </ul>

        <FormPopup title={title} />

      </div>

  </div>
</section>