---

import { Image } from "astro:assets";
import cadeira from "../../assets/cadeira-de-rodas-com-basculacao-coyote-t-plus.jpg";
import FormPopup from "../FormPopup.astro";
const title = "Cadeira de Rodas com Basculação Coyote T+";

---

<section class="quote">
  <div class="container">
    <div class="row g-5 p-5">

      <div class="col-lg-6 col-sm-12" style="display:flex; align-items:center; justify-content:start;">
        <Image src={cadeira} alt={title} loading="lazy" width={600} />
      </div>

      <div class="col-lg-6 col-sm-12">
        <h1>{title}</h1>
        <p class="mt-3">Construindo sobre a base da nossa estimada Coyote T, a T+ eleva o conforto e a funcionalidade a níveis sem precedentes. Projetada para aqueles que exigem o melhor em tecnologia de inclinação no espaço, a Coyote T+ oferece uma solução de assento mais avançada e intuitiva, projetada para suportar os estilos de vida mais dinâmicos e ativos. Com a Coyote T+, os usuários experimentarão estabilidade e conforto aprimorados graças ao seu mecanismo de inclinação de última geração, que proporciona ajuste sem esforço e aumenta a amplitude de movimento. Esta cadeira inovadora é personalizada para indivíduos que buscam controle de postura ótimo sem comprometer a facilidade de mobilidade.</p>
          
        <ul>
          <li>Quadro dobrável de alumínio leve;</li>
          <li>Apoios de braço removivéis e ajustáveis em altura;</li>
          <li>Apoios de pernas ajustáveis em altura e ângulo;</li>
          <li>Inclinação de 90º a 125º;</li>
          <li>Capacidade de peso de 136kg.</li>
        </ul>

        <FormPopup title={title} />

      </div>

  </div>
</section>