---

import { Image } from "astro:assets";
import cadeira from "../../assets/cadeira-de-rodas-rigida-coyote-a.jpg";
import FormPopup from "../FormPopup.astro";

---

<section class="quote">
  <div class="container">
    <div class="row g-5 p-5">

      <div class="col-lg-6 col-sm-12" style="display:flex; align-items:center; justify-content:start;">
        <Image src={cadeira} alt="Cadeira de Rodas Dobrável Coyote" loading="lazy" width={600} />
      </div>

      <div class="col-lg-6 col-sm-12">
        <h1>Cadeira de Rodas Rígida Coyote A</h1>
        <p class="mt-3">Apresentando a Cadeira de Rodas Coyote A – projetada para o usuário dinâmico e ativo. Construída com uma estrutura rígida, a Coyote A é projetada para oferecer estabilidade, durabilidade e responsividade sem igual. Sua construção elegante e leve garante fácil manobrabilidade, enquanto os materiais duráveis resistem aos rigores do uso diário. Seja navegando pelas ruas da cidade ou participando de atividades ao ar livre, a Coyote A proporciona aos usuários a confiança e liberdade para explorar o seu mundo.</p>
          
        <ul>
          <li>Estrutura Rígida de Alumínio;</li>
          <li>Centro de Gravidade Ajustável;</li>
          <li>Placa de Apoio para os Pés Rebatível;</li>
          <li>Altura e Ângulo do Assento Ajustáveis;</li>
          <li>Freios Compactos;</li>
          <li>Protetores Laterais Ajustáveis.</li>
        </ul>

        <FormPopup title="Cadeira de Rodas Rígida Coyote A" />

      </div>

  </div>
</section>