---

import { Image } from "astro:assets";
import cadeira from "../../assets/cadeira-de-rodas-motorizada-extreme-x8.jpg";
import FormPopup from "../FormPopup.astro";
const title = "Cadeira de Rodas Motorizada Extreme X8";

---

<section class="quote">
  <div class="container">
    <div class="row g-5 p-5">

      <div class="col-lg-6 col-sm-12" style="display:flex; align-items:center; justify-content:start;">
        <Image src={cadeira} alt={title} loading="lazy" width={600} />
      </div>

      <div class="col-lg-6 col-sm-12">
        <h1>{title}</h1>
        <p class="mt-3">Esta não é uma cadeira de rodas motorizada comum! A Magic Mobility Extreme X8 é sua parceira para praticamente qualquer aventura. Atravessando areia ou barro e subindo ou descendo guias, a Extreme X8 é uma verdadeira cadeira de rodas motorizada para todos os terrenos. Seu desempenho e confiabilidade off-road 4x4 inigualáveis a tornam a cadeira de rodas ao ar livre perfeita para aventureiros, exploradores e trabalhadores rurais. Se o que você deseja é estar ao ar livre, a Magic Mobility Extreme X8 está esperando para levá-lo lá.</p>
          
        <ul>
          <li>Quatro motores independentes de alta velocidade, alto torque e alta eficiência;</li>
          <li>Capacidade incomparável de subir guias e degraus;</li>
          <li>Quadro frontal articulado com pneus de baixa pressão e saliências;</li>
          <li>Opções de cor.</li>
        </ul>

        <FormPopup title={title} page="Cadeiras de Rodas Motorizadas" />

      </div>

  </div>
</section>