---

import { Image } from "astro:assets";
import scooter from "../../assets/scooter-limosa-plus.jpg";
import FormPopup from "../FormPopup.astro";
const title = "Scooter Limosa+";

---

<section class="quote">
  <div class="container">
    <div class="row g-5 p-5">

      <div class="col-lg-6 col-sm-12" style="display:flex; align-items:center; justify-content:start;">
        <Image src={scooter} alt={title} loading="lazy" width={600} />
      </div>

      <div class="col-lg-6 col-sm-12">
        <h1>{title}</h1>
        <p class="mt-3">Baseando-se na fundação confiável do Limosa original, o Limosa+ eleva a robustez, o conforto e o desempenho para um novo nível. Projetado para aqueles que buscam maior independência e desejam navegar por uma maior variedade de terrenos, o Limosa+ é o companheiro ideal tanto para exploração urbana quanto para aventuras ao ar livre. O Limosa+ conta com um design estrutural aprimorado, proporcionando uma viagem mais estável e segura. Com sua capacidade de peso aumentada e rodas pneumáticas duráveis, o Limosa+ garante uma experiência suave e confiável em diferentes superfícies. O scooter também apresenta uma vida útil da bateria melhorada, permitindo distâncias de viagem estendidas sem a preocupação de recargas frequentes.</p>
          
        <ul>
          <li>Motor de 320W com Freio Eletromagnético;</li>
          <li>Velocidade Máxima de 10 km/h;</li>
          <li>Alcance de 35 km;</li>
          <li>Capacidade de Peso de 150 kg.</li>
        </ul>

        <FormPopup title={title} />

      </div>

  </div>
</section>
