---

import { Image } from "astro:assets";
import scooter from "../../assets/scooter-limosa.jpg";
import FormPopup from "../FormPopup.astro";
const title = "Scooter Limosa";

---

<section class="quote">
  <div class="container">
    <div class="row g-5 p-5">

      <div class="col-lg-6 col-sm-12" style="display:flex; align-items:center; justify-content:start;">
        <Image src={scooter} alt={title} loading="lazy" width={600} />
      </div>

      <div class="col-lg-6 col-sm-12">
        <h1>{title}</h1>
        <p class="mt-3">Decole com a Limosa®! Compacto o suficiente para viajar com você, mas resistente para uso ao ar livre, a scooter Limosa® combina o desempenho de um scooter esportivo com a portabilidade de um scooter de viagem.</p>
          
        <ul>
          <li>Combina Desempenho e Portabilidade;</li>
          <li>Desmontável em 5 Peças;</li>
          <li>Assento do Capitão Ajustável em Altura;</li>
          <li>Carregamento Fácil.</li>
        </ul>

        <FormPopup title={title} page="Scooter de Mobilidade" />

      </div>

  </div>
</section>
