---

import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Logo from '../components/Logo.astro';
import CadeiraCoyote from '../components/cadeiras/CadeiraCoyote.astro';
import CadeiraCoyoteAco from '../components/cadeiras/CadeiraCoyoteAco.astro';
import CadeiraCoyoteM from '../components/cadeiras/CadeiraCoyoteM.astro';
import CadeiraCoyoteT from '../components/cadeiras/CadeiraCoyoteT.astro';
import CadeiraQuickieIris from '../components/cadeiras/CadeiraQuickieIris.astro';
import FormFooter from '../components/FormFooter.astro';
import Map from '../components/Map.astro';
import { Image } from 'astro:assets';
import WhatsAppLogo from '../assets/ws-logo-h.png';
import WhatsApp from '../components/WhatsApp.astro';

---

<Layout title="Cadeiras de Rodas Manuais - Loh Medical®">
	
  <div class="container-fluid p-0">

	<header id="hero">
    <div class="container">
      <div class="row">
          <div class="col-sm-12 col-md-6 logo">
            <Logo />
          </div>
        </div>
      </div>

      <div class="row g-5 p-5 cta">

        <div class="col-12 py-5 text-center">
          <h1>Cadeiras de Rodas Manuais</h1>

          <a href="#cadeiras" class="btn btn-primary px-3">Conhecer nossas cadeiras</a>
          <button data-bs-toggle="modal" data-bs-target="#whatsappModal" class="btn btn-primary whatsapp px-3"><Image width={16} style={{verticalAlign:'sub', marginRight:'4px'}} src={WhatsAppLogo} alt='WhatsApp' /> Falar no WhatsApp</button>

        </div>

      </div>
    </div>
  </header>

  <section id="cadeiras" class="mt-5">
    <div class="container text-center">
      <h2 class=" text-center">Conheça nossas cadeiras de rodas manuais</h2>
      <p>Conheça nossas cadeiras de rodas manuais, desenvolvidas para atender as necessidades de cada usuário.</p>
    </div>
  </section>

  <CadeiraCoyoteT />
  <CadeiraQuickieIris />
  <CadeiraCoyoteAco />
  <CadeiraCoyoteM />
  <CadeiraCoyote />

  <section id="contato" class="py-5">
    <div class="container text-center">

      <h2 class=" text-center">Entre em contato com nossa equipe comercial</h2>
      <p>Ligue para <a href="tel:11991370208">(11) 99137-0208</a> ou envie uma mensagem pelo formulário abaixo:</p>

        <div class="row justify-content-center mt-5">
          <div class="col-lg-8">
            <FormFooter page="Cadeiras de Rodas Manuais" />
          </div>
        </div>

    </div>
  </section>

  <Map />
  <Footer />
  <WhatsApp page="Cadeiras de Rodas Manuais" />

</div>

</Layout>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>