---

import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Logo from '../components/Logo.astro';

---

<Layout title="Aguarde | Loh Medical">
	<div class="container-fluid p-0">

    <header id="hero">
      <div class="container">
        
        <div class="row">
          <div class="col-sm-12 col-md-6 logo">
            <Logo />
          </div>
        </div>

        <div class="row g-5 p-5 cta">
          <div class="col-12 py-5 text-center">
            <h1>Aguarde...</h1>
            <p>Em alguns instantes você será redirecionado.</p>
          </div>
        </div>

      </div>
    </header>

    <script is:inline>
      // Função para decodificar o hash Base64 e redirecionar
      function decodeBase64HashAndRedirect() {
        const urlParams = new URLSearchParams(window.location.search);

        // Obtém o valor do parâmetro 'hash' da query string
        const hashBase64 = urlParams.get('hash');

        if (!hashBase64) {
          console.error('Hash Base64 não encontrado na query string.');
          return;
        }

        // Decodifica o hash Base64 para obter a URL original
        const decodedUrl = atob(hashBase64);

        // Redireciona para a URL original
        window.location.replace(decodedUrl);
      }

      // Chama a função ao carregar a página
      window.onload = decodeBase64HashAndRedirect;
    </script>

    <Footer />

  </div>
</Layout>
