---

import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Logo from '../components/Logo.astro';

---

<Layout title="Sucesso | Loh Medical">
	<div class="container-fluid p-0">

    <header id="hero">
      <div class="container">
        
        <div class="row">
          <div class="col-sm-12 col-md-6 logo">
            <Logo />
          </div>
        </div>

        <div class="row g-5 p-5 cta">
          <div class="col-12 py-5 text-center">
            <h1>Sucesso</h1>
            <p>Agradecemos seu contato, logo nosso consultor comercial entrará em contato com você.</p>
          </div>
        </div>

      </div>
    </header>

  <Footer />

</div>

</Layout>
