---

import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Logo from '../components/Logo.astro';

---

<Layout title="Éxito / Sucesso / Success | Loh Medical">
	<div class="container-fluid p-0">

    <header id="hero">
      <div class="container">
          <div class="col-sm-12 col-md-6 logo">
            <Logo />
          </div>
        </div>
      </div>
    </header>

  <section id="form" class="pb-0">
    <div class="container">
      <div class="row g-5 p-5">

        <div class="col text-center">
          <h1>Éxito / Sucesso / Success</h1>
          <p class="mt-5">¡Gracias por ponerse en contacto con nosotros! Su mensaje ha sido enviado con éxito. Apreciamos sinceramente su interés y esfuerzo por contactarnos. Uno de nuestros miembros del equipo revisará su mensaje y se pondrá en contacto con usted lo antes posible. Mientras tanto, siéntase libre de seguir explorando nuestro sitio web utilizando el menú principal que se encuentra arriba. Estamos comprometidos a brindarle el mejor servicio y soporte.</p>

          <p class="mt-5">Obrigado por entrar em contato conosco! Sua mensagem foi enviada com sucesso. Nós realmente valorizamos seu interesse e esforço para nos contatar. Um dos nossos membros da equipe vai revisar sua mensagem e retornará o contato o mais breve possível. Enquanto isso, fique à vontade para continuar navegando em nosso site utilizando o menu principal acima. Estamos comprometidos em fornecer a você o melhor serviço e suporte.</p>

          <p class="mt-5">Thank you for reaching out to us! Your message has been successfully submitted. We truly appreciate your interest and effort to contact us. One of our team members will review your message and get back to you as soon as possible. In the meantime, feel free to continue browsing through our website using the main menu above. We’re committed to providing you with the best service and support.</p>
        </div>

      </div>
    </div>
  </section>

  <Footer />

</div>

</Layout>
