---

const { page } = Astro.props;
import Telefone from '../components/formInputs/Telefone.astro';

---

<form method="POST" action="https://api2email-api.oofut8.easypanel.host/send/sendgrid/lohmedical/footer" name="formFooter" id="formFooter" class="formFooter">

  <input type="hidden" id="page" name="page" value={page} />
  <input type="hidden" id="url" name="url" />

  <div class="row">

    <div class="col-lg-6 col-sm-12">
      <div class="mb-3">
        <input type="text" required name="nomeFooter" class="form-control bg-white" id="nomeFooter" placeholder="Nome completo">
      </div>
    </div>
  
    <div class="col-lg-6 col-sm-12">
      <div class="mb-3">
        <Telefone location="Footer" />
      </div>
    </div>

  </div>
  
  <div class="row">

    <div class="col-12">
      <div class="mb-3">
        <input type="email" required name="emailFooter" class="form-control bg-white" id="emailFooter" placeholder="Email">
      </div>
    </div>

  </div>
  
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <textarea class="form-control bg-white" required name="mensagemFooter" id="mensagemFooter" rows="3" placeholder="Mensagem"></textarea>
        <input type="hidden" id="mensagemFooter" name="mensagemFooter" value="Mensagem enviada pelo rodapé do site">
      </div>
    </div>
  </div>
  <button type="submit" id="submitFooter" name="submitFooter" class="btn btn-primary px-3">Enviar mensagem</button>
</form>
