---

const { title, page } = Astro.props; 

---

<button type="button" class="btn btn-lg btn-primary mt-3" data-bs-page={page} data-bs-toggle="modal" data-bs-title={title} data-bs-target="#exampleModal">Solicitar Orçamento</button>
