---

import { Image } from 'astro:assets';
import logo from '../assets/logo.png';

---

<a href="/cadeiras-de-rodas/">
  <Image src={logo} alt="Logo Loh Medical" class='mt-5' loading="eager" width={150} />
</a>