---

import { Image } from "astro:assets";
import almofada from "../../assets/almofada-fusion.jpg";
import FormPopup from "../FormPopup.astro";
const title = "Almofada Fusion";

---

<section class="quote">
  <div class="container">
    <div class="row g-5 p-5">

      <div class="col-lg-6 col-sm-12" style="display:flex; align-items:center; justify-content:start;">
        <Image src={almofada} alt={title} loading="lazy" width={600} />
      </div>

      <div class="col-lg-6 col-sm-12">
        <h1>{title}</h1>
        <p class="mt-3">Combinando as capacidades de proteção da pele do J2 com a máxima estabilidade do J3, o JAY® Fusion™ é uma almofada ajustável projetado para proteção da pele que apresenta opções de inserção de fluido JAY Flow™ ou de ar ROHO DRY FLOATATION® em um pacote que é confortável, estável e suportivo.</p>
          
        <ul>
          <li>Fluidos JAY Flow®, Cryo Fluid, ou inserções JAY® Air™;</li>
          <li>Área de Carga Pélvica Determinada por Medidas Esqueléticas Comuns;</li>
          <li>Tecnologia Inovadora de Capa;</li>
          <li>Base de Espuma Contornada e Multicamadas.</li>
        </ul>

        <FormPopup title={title} page="Seating e Posicionamento" />

      </div>

  </div>
</section>