.btn-primary {
  background-color: $primary-color; // Change the background color
  border-color: $primary-color; // Change the border color
  color: #ffffff; // Change the text color
  box-shadow: none; // Remove the shadow
  background-image: none; // Remove the gradient

  &.whatsapp {
    background-color: #2bb640;
    border-color: #2bb640;
  }

  &.whatsapp:hover,
  &.whatsapp:focus,
  &.whatsapp:active {
    background-color: lighten($color: #2bb640, $amount: 10);
    border-color: lighten($color: #2bb640, $amount: 10);
  }

  &:hover,
  &:focus,
  &:active,
  &.active,
  &:disabled,
  &.disabled {
    background-color: lighten($primary-color, 20%);
    border-color: lighten($primary-color, 20%);
    box-shadow: none;
    background-image: none;
  }
}
